*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	width:100%;
	height:100%;
}
table{
	border-collapse:collapse;
}
.grid-container{
  display:grid;
  grid-template-areas:
    "header header header"
    "sec1 sec2 sec3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}
.stick{
  position:sticky;
  padding:auto;
}
.header{
  grid-area:header;
  text-align:center;
  font-size:5vh;
  background-color:grey;
}
.sec1{grid-area:sec1; background-image:url("../img/rums.jpg");}
.sec2{grid-area:sec2; background-image:url("../img/mk.jpg"); border-top:0.3vw; border-bottom:0.3vw; border-style:solid;}
.sec3{grid-area:sec3; background-image:url("../img/bh.jpg");}
.sec1,.sec3{
  border:solid 0.3vw;
}